@model List<GetCategoryViewModel>

<h1 class="text-center">Categories</h1>

<div id="Modal"></div>

<div class="mt-3">
    <div class="float-start">
        <a class="btn btn-outline-primary mb-3 addModal" href="/Category/AddCategory"><i class="fa-solid fa-plus fas"></i>Add Category</a>
    </div>
    <div class="float-end">
        <input class="form-control" id="Search" type="search" placeholder="Search">
  </div>
</div>

<div style="margin-top:7%;">
    <div class="btn-group float-end mb-3">
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="dropdown" aria-expanded="false" style="border:none;"><i class="fa-solid fa-arrow-down-short-wide fas"></i>Sort by</button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/Category/CategorySorting?sortingBy=id">Id</a></li>
            <li><a class="dropdown-item" href="/Category/CategorySorting?sortingBy=createdDate">Created Date</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/Category/CategorySorting?sortingBy=reset"><i class="fa-solid fa-trash fas"></i>Reset</a></li>
        </ul>
    </div>
</div>

<div class="tableFixHead" style="width:100%;">
    <table class="table table-striped indextable">
        <thead>
            <tr>
                <th scope="col">Id </th>
                <th scope="col">CategoryName</th>
                <th scope="col">Description</th>
                <th scope="col">CreatedDate</th>
            </tr>
        </thead>
        <tbody class="listPartial">
            @await Component.InvokeAsync("CategoryList", Model)
        </tbody>
    </table>
</div>
