@model UpdateCategoryViewModel

<h2 class="text-center">Update Category</h2>

<form class="row pt-5 m-auto col-5" asp-action="UpdateCategory" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" class="form-control" asp-for="Id">
    <input type="hidden" class="form-control" asp-for="CreatedDate">
    <div class="mb-3">
        <label for="inputCategoryName" class="form-label">CategoryName</label>
        <input type="text" class="form-control" asp-for="CategoryName">
        <span asp-validation-for="CategoryName"></span>
    </div>
    <div class="mb-3">
        <label for="inputDescription" class="form-label">Description</label>
        <textarea class="form-control" asp-for="Description"></textarea>
        <span asp-validation-for="Description"></span>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Category", "Category")'">Cansel</button>
    </div>
</form>
