
@{
    ViewData["Title"] = "AddHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AddHome</h1>
<a class="callPartialRenderBody" href="/Product/AddProduct">Add Product</a>
@*<button class="addBtn">Add</button>*@

