@model AddProductViewModel

@*<div class="modal fade" id="addProduct">    
    <div class="modal-dialog">
        <div class="modal-content p-2">
            <div class="modl-header d-flex justify-content-between">
                <h5 class="modal-title" id="addProductLabel" style="margin-left:40%;">Add Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="AddProduct" method="post" enctype="multipart/form-data" data-ajax-complete="OnComplete">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="col-12">
                        <label for="inputProductname" class="form-label">ProductName</label>
                        <input type="text" class="form-control" asp-for="ProductName">
                        <span asp-validation-for="ProductName"></span>
                    </div>
                    <div class="col-md-12">
                        <label for="inputCategory" class="form-label">Category</label>
                        <select class="form-select" asp-for="CategoryId" asp-items="ViewBag.Categories">
                            <option selected>Choose...</option>
                        </select>
                        <span asp-validation-for="CategoryId"></span>
                    </div>
                    <div class="col-md-12">
                        <label for="inputPrice" class="form-label">Price</label>
                        <input type="number" min="0.00" max="1000000.00" step="0.01" class="form-control" asp-for="Price">
                        <span asp-validation-for="Price"></span>
                    </div>
                    <div class="col-md-12">
                        <label for="inputQuantity" class="form-label">Quantity</label>
                        <input type="number" class="form-control" asp-for="Quantity">
                        <span asp-validation-for="Quantity"></span>
                    </div>
                    <div class="col-12">
                        <label for="inputDescription" class="form-label">Description</label>
                        <textarea class="form-control" asp-for="Description"></textarea>
                        <span asp-validation-for="Description"></span>
                    </div>
                    <div class="col-12">
                        <label class="form-label">Add Main Product Photo</label>
                        <input class="form-control" type="file" accept="image/*" asp-for="MainPhoto">
                    </div>
                    <div class="col-12 mb-2">
                        <label class="form-label">Add Product Photo</label>
                        <input class="form-control" type="file" multiple="multiple" accept="image/*" asp-for="PhotoFiles">
                    </div>
                    <div class="col-4 m-auto mt-3">
                        <button type="submit" class="btn btn-primary">Add</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cansel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>*@

<form asp-action="AddProduct" asp-controller="Product" data-ajax-method="POST" data-ajax="true" data-ajax-update="studentFormDetails" data-ajax-complete="OnComplete">
    <div id="exampleModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Student Details Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="studentFormDetails">
                    <partial name="~/Views/Home/AddHome.cshtml" model="@Model" />
                </div>
                <div class="modal-footer">
                    <input id="btnSubmit" type="submit" value="Submit" class="btn btn-primary" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript">
        function OnComplete() {
            $("#exampleModal").modal("hide");
        }
    </script>
}

@*@section Scripts{
    <script src="~/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        function OnComplete() {
            $("#addProduct").modal("hide");
        }
    </script>
}*@

