@model LoginViewModel

<form class="col-5 mx-auto mt-5" method="post" asp-controller="Account" asp-action="Login">
    <h2 class="text-center">Login</h2>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label class="form-label" asp-for="Email">Email address</label>
        <input type="email" class="form-control" aria-describedby="emailHelp" asp-for="Email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="form-label" asp-for="Password">Password</label>
        <input type="password" class="form-control" asp-for="Password">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" asp-for="RememberMe">
        <label class="form-check-label" asp-for="RememberMe">Remember?</label>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>
